<h1 class='center'>{{title}}</h1>

<div class='center'>
    <p>Pick your instrument:</p>
    <select id='sound'>
    	<option value='0' selected=''>Keyboard</option>
    	<option value='1'>Organ</option>
        <option value='2'>Acoustic Guitar</option>
        <option value='3'>EDM</option>
    </select>
</div>

<div id='keyboard' class='keyboard-holder'></div>

<div class='keyboard-options'>
    Range [C<span id='OCTAVE_LOWER'>3</span>-B<span id='OCTAVE_UPPER'>5</span>]
    <input type='button' id='-_OCTAVE' value='-'>
    <input type='button' id='+_OCTAVE' value='+'><br>
    <i>(Use left/right arrows to adjust with keyboard)</i>
</div>
