<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js'></script>
    <script src='/js/Tone.min.js'></script>
    <script>window.socket = window.io.connect('{{host}}');</script>
    <script src='/js/script.js'></script>
    </script>
  </body>
</html>
